.subscription-page {
    padding: 30px;
    padding-top: 40px;
    margin-top: 20px;
    background-color: rgb(38, 36, 59);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Enable vertical scroll */
    box-sizing: border-box; /* Ensure padding is included in height */
}

.animate-text2{
    font-size: 24px;
    color: #a668c7;
}

.subscription-header {
    display: flex;
    align-items: center;
    gap: 100px;

    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        text-align: center;

        h1{
            font-size: 90px;
            background: rgb(0,0,0);
            background-image: linear-gradient(to right top, #c34a36, #bf2e4c, #b11864, #96187b, #6b288f);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            @media screen and (max-width: 1280px) {
                font-size: 64px;
            }
        }

        h3{
            font-weight: 400;
            max-width: 75%;

            @media screen and (max-width: 1024px) {
                max-width: 100%;
            }
        }

        a{
            padding: 15px 25px;
            background-color: #6B288F;
            color: white;
            border-radius: 20px;
            font-size: 14px;
            margin-top: 20px;

            &:hover{
                color: #6B288F;
                background-color: white;
    
            }
        }
    }
}
/* Subscriptions Section */
.subscriptions-section, .billing-cycle-section, .payu-section {
    margin-top: 50px;
}

.subscriptions-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}

.subscription-item {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease; 
    border: 1px solid white;
    color: #a196a9;
}

.subscription-item:hover {
    border: 1px solid rgba(244, 8, 0, 0.5); 
}

/* Chart Section */
.chart-container {
    margin-top: 20px;
    background-color: #2f2f4f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.payu-section {
    background: rgba(255, 255, 255, 0.25);
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
