/* Main container */
.search-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #121212;
  color: #fff;
}

/* Search bar and filter */
.search-bar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 12px 15px;
  border-radius: 20px;
  border: 2px solid #8c2b8c;
  background-color: #2e2e44;
  color: #fff;
  font-size: 16px;
}

.filter-select {
  padding: 12px 15px;
  border-radius: 20px;
  border: 2px solid #8c2b8c;
  background-color: #2e2e44;
  color: #fff;
  font-size: 16px;
}

.search-button {
  padding: 10px;
  border-radius: 50%;
  background-color: #8c2b8c;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button img {
  width: 24px;
  height: 24px;
}

/* Results container */
.results-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.resultTitle{
  padding: 10px;
  margin: 10px;
  background-color: #f4a261;
  border: none;
  border-radius: 5px;
}

.resultTitle:hover{
  cursor: pointer;
}

/* Info card */
.info-card {
  background-color: #1e1e2f;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
}

.info-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.3);
}

/* Poster image */
.poster {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.poster-button {
  border: none;
  background: none;
  padding: 0;
}

/* Dialog overlay */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
 .loading-message{
  color: green;
  padding: 100px;
 }

.dialog-box {
  position: relative; /* Ensure relative positioning for the child absolute elements */
  background-color: #1e1e2f;
  padding: 30px;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  color: #b63c3c;
  line-height: 2;
}

.close-button {
  position: absolute;
  top: 10px; 
  right: 10px; 
  background: none;
  border: none;
  font-size: 24px;
  color: #f77f00;
  cursor: pointer;
}

.close-button:hover {
  color: #f4a261;
}
